/* The dots/bullets/indicators */
/* Fading animation */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  position: relative;
  background-image: url("/images/background-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.06);
  /* White overlay with 50% opacity */
  z-index: -1;
}

a {
  color: #d5b260;
}
ahover {
  color: #9f5f2e !important;
}

/* On smaller screens, decrease text size */
/* Position the Previous Button */
/* Position the Next Button */
/* Position the Previous Button */
/* Position the Next Button */
/* Remove default Swiper text (optional) */
/* Color Notes Table */
/* Color Box with Image Background */
@keyframes FooterBlock_fade-in__FsZ9k {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.carousel-item {
  width: 100%;
  height: 550px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}

.add-to-cabinet-button_iconHover__VqI4Z path {
  fill: #fffef2;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.subNavigation_filterContainerInner__vQDuO {
  transition: top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), border-bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid #ebeade;
}

.subNavigation_subNavContainer__8LZ2X {
  transition: top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), border-bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid #ebeade;
  animation: subNavigation_fade-in___M9Ae 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  background-color: #ebeade;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.subNavigation_heroBannerHeading__HXEv0 {
  margin-bottom: 15px;
}

.subNavigation_heroBannerContent__7x0mu {
  background-color: #fffef2;
  padding: 40px 20px 0;
}

.mySwiperContainer {
  display: block !important;
}

.mySwiperMobileContainer {
  display: none !important;
}

.subNavigationList_subNavListsContainer__IyfDM {
  -webkit-overflow-scrolling: touch;
  display: flex;
  font-size: 0.875rem;
  height: 60px;
  line-height: 1.35;
  overflow: auto;
  position: relative;
  width: 100%;
  background: #200901;
  color: #ffd8a9;
}
.subNavigationList_subNavListsContainer__IyfDM:hover .subNavigationList_subNavList__YlZCz {
  overflow: auto;
}

.subNavigationList_subNavList__YlZCz {
  -ms-overflow-style: none;
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding-left: 0;
  scrollbar-width: none;
  white-space: nowrap;
}
.subNavigationList_subNavList__YlZCz::-webkit-scrollbar {
  display: none;
}

.subNavigationList_subNavListItem__phySy:not(:first-child) {
  padding-left: 10px;
}
.subNavigationList_subNavListItem__phySy:not(:last-child) {
  padding-right: 10px;
}
.subNavigationList_subNavListItem__phySy:nth-child(2) {
  padding-left: 15px;
}
.subNavigationList_subNavListItem__phySy:first-child {
  padding-left: 20px;
  padding-right: 15px;
  position: relative;
}
.subNavigationList_subNavListItem__phySy:first-child:after {
  background-color: currentColor;
  content: "";
  display: inline-block;
  height: 10px;
  position: absolute;
  right: -1px;
  top: 4px;
  width: 1px;
}
.subNavigationList_subNavListItem__phySy:last-child {
  padding-right: 50px;
}

.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud {
  font-family: Suisse Medium, sans-serif;
  color: #d5b260;
}
.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud:focus {
  color: #ffd8a9;
}
.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud:after {
  content: "";
  display: block;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-bottom: 1px solid;
  margin-top: 0;
}
.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud:hover {
  color: #ffd8a9;
}
.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud:hover:after {
  transform: scaleX(1);
}

.subNavigationList_subNavLink__anNud.subNavigationList_subNavLink__anNud.subNavigationList_selected__Lwm9W:after {
  transform: scaleX(1);
}

.GridBlockItem_gridItemCopy__kWIsl {
  position: absolute;
  z-index: 30;
  color: #cc5500;
  font-family: Suisse, sans-serif;
  font-size: 16px;
  font-weight: 700;
  isolation: isolate;
  line-height: 1.33;
  top: 10px;
  left: 20px;
}

.GridBlockItem_gridItemCopy__kWIsl.GridBlockItem_dark__CfoXX {
  color: #aa4406;
}

.GridBlockItem_gridItemCopy__kWIsl.GridBlockItem_light__N8Mr7 {
  color: #fffef2;
}

.image-holder {
  filter: drop-shadow(0 2px 4px #9f5f2e);
}

.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f {
  border: 1px solid #fffef2;
  border: 1px solid #fffef2;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f .Hyperlink_icon__u_gO9 svg path {
  fill: #fffef2;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f:focus {
  background-color: #fffef2;
  color: #aa4406;
  border: 2px #252525;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f:focus .Hyperlink_icon__u_gO9 svg path {
  fill: #333;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f:hover {
  background-color: #fffef2;
  color: #aa4406;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f:hover .Hyperlink_icon__u_gO9 svg path {
  fill: #333;
}

.Hyperlink_blockStyle__yQb3f.Hyperlink_hasIcon__9Sbrv {
  padding-right: 55px;
  padding-right: 55px;
}

.Hyperlink_light__12A_f.Hyperlink_light__12A_f {
  color: #fffef2;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f .Hyperlink_icon__u_gO9.Hyperlink_icon__u_gO9 svg path {
  fill: #fffef2;
}

.BodyCopy_contentWrapper__dvz5y a {
  font-family: Suisse, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.btn-discount {
  border: 1px solid #d5b260;
  color: #d5b260;
  font-family: Suisse, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px;
  background: #200901;
}
.btn-discount svg path {
  fill: whitesmoke;
}
.btn-discount:hover {
  color: #fffef2 !important;
  background: #200901;
}

.BodyCopy_copy__8BnZm .Paragraph_base__CFztu {
  font-size: 1.3em;
  color: #fffef2 !important;
}

#yearly-sale {
  color: #d5b260 !important;
}
#yearly-sale .text-content {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.TextOverFullWidthAsset {
  left: 8%;
  padding: 20px 0;
}

.Image_picture {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.swiper {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  height: 300px;
  aspect-ratio: 1000/1581;
  flex-shrink: 0;
  opacity: 0.5;
  position: relative;
  scroll-snap-align: center;
  transition: opacity 1scubic-bezier 0.215, 0.61, 0.355, 1;
  width: 52vw;
  background: inherit;
  pointer-events: none;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.swiper-slide-active {
  pointer-events: inherit;
}
.swiper-slide-active img {
  filter: drop-shadow(0 10px 10px #9f5f2e);
}

.product-store h2 {
  color: #d5b260 !important;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.swiper-slide-active {
  opacity: 1;
}

#testimonials h2 {
  font-family: Zapf Humanist, serif;
  font-size: 1.5rem;
  color: #d5b260;
}
#testimonials p,
#testimonials a {
  color: #fff;
}
#testimonials .details_KeyIngredients {
  color: #fff;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 50px;
  height: 50px;
  color: #fffef2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
  left: 44% !important;
  top: 190px !important;
  filter: drop-shadow(0 10px 10px #fff);
}
.swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold;
  color: #fff !important;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 50px;
  height: 50px;
  color: #fffef2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
  left: 56% !important;
  top: 190px !important;
  filter: drop-shadow(0 10px 10px #fff);
}
.swiper-button-next:after {
  font-size: 12px !important;
  font-weight: bold;
  color: #fff !important;
}

.details_heading {
  color: #aa4406;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}

.details_KeyIngredients {
  margin-bottom: 0.3125rem;
  color: black;
  font-family: Suisse Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.unitPricingPrice {
  font-family: Suisse Medium, sans-serif;
  line-height: 1.7;
  font-weight: 550;
  font-size: 14px;
  color: #fff;
}

.unitPricingSlash {
  color: #fff;
  margin: 0 0.5rem;
}

.unitPricingUnitPrice {
  font-family: Suisse, sans-serif;
  line-height: 1.7;
  font-weight: 550;
  font-size: 14px;
  color: #fff;
}

.color-notes-table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: none;
}
.color-notes-table table {
  border-collapse: collapse;
}
.color-notes-table td {
  padding: 5px 10px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  color: #6c1d10;
  padding: 0px;
}

.color-box {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  border-radius: 1px;
  border: 1px solid #999;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  text-align: left;
  word-break: break-all;
  line-height: 1.15;
  padding-left: 3px;
  padding-top: 1px;
  background: #fffef2;
}

.TypefragranceTable tbody {
  display: flex;
  font-family: Suisse, sans-serif;
  font-size: 0.875rem;
  max-width: 100vw;
  overflow-x: auto;
  list-style: none;
  margin: 0px auto -50px;
  padding: 0px 20px 50px;
  display: flex;
  font-family: Suisse, sans-serif;
  font-size: 0.875rem;
  max-width: 100vw;
  overflow-x: auto;
  list-style: none;
  margin: 0px auto -50px;
  padding: 0px 20px 50px;
}

.Footer_Footer-wrap__I56_P {
  min-height: 50vh;
  position: relative;
}

.Footer_Footer-base__r2czG {
  background-color: #0f0100;
  position: relative;
  min-height: 500px;
}

.Footer_Footer-block__2eui4 {
  border-bottom: 3px solid #d6d5cb;
  display: grid;
  display: -ms-grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  padding: 35px 20px;
}
.Footer_Footer-block__2eui4 .Footer_Footer-privacyPolicy__GLrcC {
  line-height: 2;
  margin-right: 3px;
}

.Footer_Footer-sign-up-section__xcDgH {
  grid-column: 1/3;
}

.Footer_Footer-block-item__p_R_M {
  grid-column: span 1;
}
.Footer_Footer-block-item__p_R_M a:hover {
  color: #9f5f2e !important;
}

.Footer_Footer-shipping-to__68Tb6 {
  line-height: 2.5;
  list-style: none;
  margin: -5px 0 0;
  padding-left: 0;
}

.Footer_Footer-text-link-wrapper__Ychqf {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.Footer_Footer-text-link-wrapper__Ychqf .Footer_Footer-text-list__qqrVv {
  line-height: 1.8;
}
.Footer_Footer-text-link-wrapper__Ychqf .Footer_Footer-text-list__qqrVv.Footer_active__jaXqd {
  order: -1;
}
.Footer_Footer-text-link-wrapper__Ychqf .Footer_Footer-text-list__qqrVv.Footer_active__jaXqd > a {
  text-decoration: underline;
}

.Footer_Footer-text-link__eiU1v {
  display: block;
  line-height: 1.8;
  text-decoration: underline;
}

.Footer_Footer-shipping-to-text__p7nPR:nth-child(2) {
  margin-top: 20px;
}
.Footer_Footer-shipping-to-text__p7nPR .Footer_Footer-location-perferences-subHead__7hDnN {
  display: block;
  font-family: Suisse Medium, sans-serif;
}

.Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi {
  display: block;
  font-family: Suisse Regular, sans-serif;
  font-size: 12px;
  line-height: 1.8;
}
.Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi:after {
  background: #fffef2;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  top: -5px;
  width: 100%;
}
.Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi:hover {
  color: #cc5500;
}
.Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi:hover:after {
  background: #fff;
}

.Footer_Footer-bottom-banner__p55GR {
  align-items: center;
  color: #fffef2;
  display: flex;
  font-family: Suisse Regular, sans-serif;
  height: 72px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.Footer_Footer-iconLinks__WfRwa {
  margin-left: 45px;
}

.Footer_NewsLetterSignUp-loading__GJqaf {
  fill: #ba3e2b;
  left: 0;
  position: absolute;
  top: 18px;
}

.Footer_NewsLetterSignUp-signUpIcon__lwMtM {
  fill: #ba3e2b;
}

.Footer_NewsLetterSignUp-loading__GJqaf.Footer_dark__N7MXx {
  fill: #333;
}

.Footer_NewsLetterSignUp-signUpIcon__lwMtM.Footer_dark__N7MXx {
  fill: #333;
}

.Footer_NewsLetterSignUp-loading__GJqaf.Footer_light___DRPe {
  fill: #fffef2;
}

.Footer_NewsLetterSignUp-signUpIcon__lwMtM.Footer_light___DRPe {
  fill: #fffef2;
}

.Footer_NewsLetterSignUp-inputField__DFvDH {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 100%;
}

.Footer_NewsLetterSignUp-checkbox__D93Wl {
  margin-top: 15px;
}
.Footer_NewsLetterSignUp-checkbox__D93Wl a {
  text-decoration: underline;
}

.Footer_NewsLetterSignUp-footerNewsletterInputWrapper___JFe9 {
  flex: 1 0 auto;
}

.Footer_NewsLetterSignUp-button__3l2kJ {
  background: transparent;
  border: 1px solid #333;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 20px;
  height: 37px;
  margin-left: 0;
  padding: 0 12px;
}
.Footer_NewsLetterSignUp-button__3l2kJ:focus {
  outline: none;
}

.Footer_NewsLetterSignUp-button__3l2kJ.Footer_dark__N7MXx {
  border-color: #333;
}

.Footer_NewsLetterSignUp-button__3l2kJ.Footer_light___DRPe {
  border-color: #fffef2;
}

.Footer_NewsLetterSignUp-button__3l2kJ.Footer_hasError__3JtuU {
  border-color: #ba3e2b;
}

.Footer_NewsLetterSignUp-footerNewsLetter__EJVl3 {
  border-radius: 3px 0 0 3px !important;
  border-right: 0 !important;
  height: 37px;
}
.Footer_NewsLetterSignUp-footerNewsLetter__EJVl3:-webkit-autofill {
  box-shadow: none !important;
}

.Footer_NewsLetterSignUp-subscriptionMessage__WrDyw {
  font-family: Suisse Regular, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 15px;
}
.Footer_NewsLetterSignUp-subscriptionMessage__WrDyw a {
  text-decoration: underline;
}

.Footer_NewsLetterSignUp-subscriptionMessage__WrDyw.Footer_dark__N7MXx {
  color: #aa4406;
}

.Footer_NewsLetterSignUp-subscriptionMessage__WrDyw.Footer_light___DRPe {
  color: #8d3004;
}

.Footer_NewsLetterSignUp-footerNewsletterErrorMessage__9ObHK {
  font-size: 14px;
  line-height: 1.4;
  color: #ba3e2b;
  margin: 10px 0 0;
  transition: margin 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Footer_NewsLetterSignUp-termsAndConditionWrapper__yWtOI {
  border: 1px solid #fffef2;
  border-radius: 3px;
  margin-top: 23px;
  padding: 15px 3px 15px 20px;
}

.Footer_NewsLetterSignUp-termsAndCondition__Kknlz {
  color: #8d3004;
  font-family: Suisse Regular, sans-serif;
  font-size: 12px;
  height: 90px;
  line-height: 2;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}
.Footer_NewsLetterSignUp-termsAndCondition__Kknlz::-webkit-scrollbar {
  height: 100%;
  width: 5px;
}
.Footer_NewsLetterSignUp-termsAndCondition__Kknlz::-webkit-scrollbar-thumb {
  background: #fffef2;
  border-radius: 3px;
}

.Hyperlink_dark__ROIlG {
  color: #aa4406;
}
.Hyperlink_dark__ROIlG:focus {
  color: #aa4406;
}
.Hyperlink_dark__ROIlG:hover {
  color: #aa4406;
}
.Hyperlink_dark__ROIlG .Hyperlink_icon__u_gO9.Hyperlink_icon__u_gO9 svg path {
  fill: #333;
}

.Hyperlink_light__12A_f:focus {
  color: #f6f5e8;
}
.Hyperlink_light__12A_f:hover {
  color: #f6f5e8;
}

.Hyperlink_base__H3jim {
  position: relative;
  display: inline-block;
  font-family: Suisse, sans-serif;
  font-size: inherit;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  line-height: normal;
  box-sizing: border-box;
}
.Hyperlink_base__H3jim * {
  box-sizing: border-box;
}

.Hyperlink_base__H3jim.Hyperlink_underlineOnHover__xSHw3:hover {
  text-decoration: underline;
}

.Hyperlink_icon__u_gO9 {
  display: inline-block;
}
.Hyperlink_icon__u_gO9 svg {
  width: 12px;
  max-height: 12px;
}
.Hyperlink_icon__u_gO9 svg path {
  transition: fill 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Hyperlink_blockStyle__yQb3f {
  display: inline-block;
  min-width: 210px;
  height: 60px;
  padding: 19px 23px;
  border-width: 1px;
  border-style: solid;
  font-family: Suisse, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.Hyperlink_blockStyle__yQb3f .Hyperlink_icon__u_gO9 {
  position: absolute;
  top: calc(50% - 6px);
  right: 23px;
  font-size: 0;
  line-height: 1;
}

.Hyperlink_blockStyle__yQb3f.Hyperlink_hasExternalIcon__xvLXy .Hyperlink_icon__u_gO9 {
  top: calc(50% - 5px);
}

.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f {
  border-color: rgba(51, 51, 51, 0.2);
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f .Hyperlink_icon__u_gO9 svg path {
  fill: #333;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f:focus {
  border-color: #333;
  background-color: #333;
  color: #8d3004;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f:focus .Hyperlink_icon__u_gO9 svg path {
  fill: #fffef2;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f:hover {
  border-color: #333;
  background-color: #333;
  color: #8d3004;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f:hover .Hyperlink_icon__u_gO9 svg path {
  fill: #fffef2;
}

.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81 {
  border-color: #333;
  background-color: #333;
  color: #f6f5e8;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81:focus {
  border-color: #120301;
  background-color: #000;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81:hover {
  border-color: #120301;
  background-color: #000;
}
.Hyperlink_dark__ROIlG.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81 .Hyperlink_icon__u_gO9 svg path {
  fill: #f6f5e8;
}

.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81 {
  border-color: #f6f5e8;
  background-color: #f6f5e8;
  color: #aa4406;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81:focus {
  border-color: #fffef2;
  background-color: #fffef2;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81:hover {
  border-color: #fffef2;
  background-color: #fffef2;
}
.Hyperlink_light__12A_f.Hyperlink_light__12A_f.Hyperlink_blockStyle__yQb3f.Hyperlink_alternate__Yvw81 .Hyperlink_icon__u_gO9 svg path {
  fill: #333;
}

.Hyperlink_center__vojio {
  justify-content: center;
  text-align: center;
}

.Hyperlink_left__UZaMy {
  justify-content: left;
  text-align: left;
}

.Hyperlink_right__wfv0k {
  justify-content: right;
  text-align: right;
}

.FlyinPanel_footer__PvryQ {
  align-items: center;
  background-color: #f6f5e8;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  bottom: 0;
  display: flex;
  gap: 20px;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  width: 100vw;
}
.FlyinPanel_footer__PvryQ > button {
  flex: 1 1 auto;
  max-width: unset;
  min-width: unset;
}

.FooterBlock_base__lzouW {
  font-family: Suisse, sans-serif;
}

.FooterBlock_base__lzouW.FooterBlock_dark__Qy4St {
  color: #aa4406;
}

.FooterBlock_base__lzouW.FooterBlock_light__JdnEy {
  color: #d5b260;
}

.FooterBlock_heading__IVkcc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8125rem;
  line-height: 2;
}

.FooterBlock_divider__5XeFC {
  border-bottom: 1px solid #fffef2;
  margin: 6px 0;
}

.FooterBlock_divider__5XeFC.FooterBlock_dark__Qy4St {
  border-color: #333;
}

.FooterBlock_divider__5XeFC.FooterBlock_light__JdnEy {
  border-color: #fffef2;
}

.FooterBlock_list__X3esF {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.FooterBlock_copy__b4xsu {
  font-size: 0.75rem;
  line-height: 2.5;
  margin-top: 10px;
  line-height: 1.8;
}
.FooterBlock_copy__b4xsu svg {
  vertical-align: middle;
}
.FooterBlock_copy__b4xsu:last-child {
  margin-bottom: 0;
}
.FooterBlock_copy__b4xsu p > a {
  display: inline-block;
}

.FooterBlock_listItem__i0Ohf {
  font-size: 0.75rem;
  line-height: 2.5;
}
.FooterBlock_listItem__i0Ohf svg {
  vertical-align: middle;
}

.FooterBlock_learnMore__UY_VL {
  text-decoration: underline;
}

.btn-contact-banner {
  right: 300px;
  top: 100px;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 220px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}
.flip-card-front .image-holder {
  width: 100%;
  height: 100%; /* Ensures the container fills the parent */
  background-size: cover; /* Ensures full coverage */
  background-position: center;
  background-repeat: no-repeat;
}
.flip-card-front .image-holder img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flip-card-back {
  background-color: #9f5f2e;
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px;
}

@media only screen and (min-width: 1025px) {
  .subNavigation_subNavContainer__8LZ2X {
    border-bottom: unset;
    flex-direction: row;
  }
  .subNavigationList_subNavListItem__phySy:first-child {
    padding-left: 40px;
  }
  .GridBlockItem_gridItemCopy__kWIsl {
    font-size: 24px;
  }
  .Footer_Footer-block__2eui4 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    padding: 50px 40px;
  }
  .Footer_Footer-block-item__p_R_M:nth-of-type(4n+0) {
    grid-column: span 2;
  }
  .Footer_Footer-bottom-banner__p55GR {
    padding-left: 40px;
    padding-right: 40px;
  }
  .FlyinPanel_footer__PvryQ {
    width: 50vw;
  }
  .FooterBlock_copy__b4xsu {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 300px) {
  .prev {
    font-size: 11px;
  }
  .next {
    font-size: 11px;
  }
  .text {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    height: 220px;
    max-width: 100%;
  }
  .carousel-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .carousel-item video {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .mySwiperContainer {
    display: none !important;
  }
  .mySwiperMobileContainer {
    display: block !important;
  }
  iframe {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .carousel-control-next {
    top: 40px;
  }
  .carousel-control-prev {
    top: 40px;
  }
  .swiper-button-prev {
    margin-left: -3rem;
  }
  .swiper-button-next {
    margin-left: 3rem;
  }
  .Image_picture {
    width: 100%;
    min-height: 50vh !important;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
  .text-content {
    text-align: center !important;
    margin: 50px auto;
    font-weight: 700;
  }
  .text-content p {
    font-weight: 700;
  }
  a {
    font-weight: 700;
  }
  .btn-contact-banner {
    right: 40px;
    bottom: 20px;
    height: 50px;
    top: 150px;
  }
}
@media only screen and (min-width: 640px) {
  .subNavigationList_subNavListItem__phySy:first-child {
    padding-left: 34px;
  }
  .GridBlockItem_gridItemCopy__kWIsl {
    font-size: 20px;
  }
  .Footer_Footer-block__2eui4 {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    padding: 40px 34px;
  }
  .Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi {
    font-size: 14px;
  }
  .Footer_Footer-text-button__WKjTi.Footer_Footer-text-button__WKjTi:after {
    top: -7px;
  }
  .Footer_Footer-bottom-banner__p55GR {
    padding-left: 34px;
    padding-right: 34px;
  }
  .Footer_NewsLetterSignUp-footerNewsletterErrorMessage__9ObHK {
    line-height: 1.7;
  }
  .Hyperlink_blockStyle__yQb3f {
    max-width: 300px;
  }
  .FlyinPanel_footer__PvryQ {
    padding: 0 34px;
  }
  .FooterBlock_heading__IVkcc {
    font-size: 0.9375rem;
  }
  .FooterBlock_divider__5XeFC {
    margin: 16px 0;
  }
  .FooterBlock_copy__b4xsu {
    font-size: 0.875rem;
    margin-top: 21px;
  }
  .FooterBlock_listItem__i0Ohf {
    font-size: 0.875rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .Footer_Footer-sign-up-section__xcDgH {
    grid-column: 1/4;
  }
  .Footer_NewsLetterSignUp-checkboxSection__SKmvY {
    display: flex;
  }
  .Footer_NewsLetterSignUp-checkboxSection__SKmvY .Footer_NewsLetterSignUp-checkbox__D93Wl {
    flex: 1 1;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .Footer_NewsLetterSignUp-subscriptionMessage__WrDyw {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1220px) {
  .FlyinPanel_footer__PvryQ {
    padding: 0 80px;
  }
}
