USE [master]
GO
/****** Object:  Database [douce_db]    Script Date: 5/28/2025 11:50:10 PM ******/
CREATE DATABASE [douce_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'douce_db_Data', FILENAME = N'c:\dzsqls\douce_db.mdf' , SIZE = 30720KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'douce_db_Logs', FILENAME = N'c:\dzsqls\douce_db.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [douce_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [douce_db]
GO
/****** Object:  User [amelang123_SQLLogin_1]    Script Date: 5/28/2025 11:50:14 PM ******/
CREATE USER [amelang123_SQLLogin_1] FOR LOGIN [amelang123_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [amelang123_SQLLogin_1]
GO
/****** Object:  Schema [amelang123_SQLLogin_1]    Script Date: 5/28/2025 11:50:15 PM ******/
CREATE SCHEMA [amelang123_SQLLogin_1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/28/2025 11:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 5/28/2025 11:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerInfo] [nvarchar](max) NOT NULL,
	[InvoiceItems] [nvarchar](max) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](200) NOT NULL,
	[Status] [int] NOT NULL,
	[OtherCost] [decimal](18, 2) NOT NULL,
	[Shipping] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Noted] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfume]    Script Date: 5/28/2025 11:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfume](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[ShortDescription] [nvarchar](300) NULL,
	[Description] [nvarchar](max) NULL,
	[Composition] [nvarchar](max) NULL,
	[Ingredients] [nvarchar](max) NULL,
	[FragranceNotes] [nvarchar](max) NULL,
	[StockQuantity] [int] NOT NULL,
	[TopPerfumed] [nvarchar](100) NULL,
	[MiddlePerfumed] [nvarchar](100) NULL,
	[BasePerfumed] [nvarchar](100) NULL,
	[PriceInfo] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DescriptionImages] [nvarchar](max) NULL,
 CONSTRAINT [PK_Perfume] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250330105255_InitialCreate', N'9.0.2')
GO
INSERT [dbo].[Invoice] ([Id], [CustomerInfo], [InvoiceItems], [PaymentDate], [PaymentMethod], [Status], [OtherCost], [Shipping], [Discount], [Noted]) VALUES (N'b6163b89-5702-4121-a8bb-09e7a049c672', N'{"FullName":"Tam","Address":"Sjkzbs","PhoneNumber":"0778752000","EmailAddress":"ngoctam.nguyen888@gmail.com"}', N'[{"PerfumeId":"e971e0c4-ac80-48e5-9da0-f480fcd0297c","PerfumeName":"APHRODITE","Quantity":1,"VolumeMl":50,"Price":760000.0}]', CAST(N'2025-05-19T19:49:51.6262106' AS DateTime2), N'Cash', 3, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
GO
/****** Object:  Index [IX_Invoice_PaymentDate]    Script Date: 5/28/2025 11:50:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_PaymentDate] ON [dbo].[Invoice]
(
	[PaymentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_Status]    Script Date: 5/28/2025 11:50:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_Status] ON [dbo].[Invoice]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Perfume_Name]    Script Date: 5/28/2025 11:50:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_Perfume_Name] ON [dbo].[Perfume]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Perfume_ShortDescription]    Script Date: 5/28/2025 11:50:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_Perfume_ShortDescription] ON [dbo].[Perfume]
(
	[ShortDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Perfume] ADD  DEFAULT ('[]') FOR [DescriptionImages]
GO
USE [master]
GO
